{% extends 'layoutEmail.html.twig' %}

{% block title %}New episode{% endblock %}  

{% block body %}
    <h1>New episode {{ episode.title }} created</h1>

    <p>Hello, the new episode <a href="http://localhost:8000{{ path("program_season_show", { slug: program.slug, seasonId: season.id }) }}">{{ episode.number }}.{{ episode.title }}</a>
    from {{ program.title }} has been created on Wild Series</p>

     <p>Summary : {{episode.synopsis }}
{% endblock %}
