{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
  <div class="media">
    <div class="media-body">
        <h1>{{ program.title }} - Season {{ seasons.number }}<h1>
        <h2> Episode {{ episodes.number }} - {{ episodes.title }}</h2>  
        <p>{{ episodes.synopsis }}</p>
        
    </div>
  </div>

{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
    {{ include('comment/_form.html.twig') }}
    {% endif %}

    {% for comment in comments %}
                        <div>                      
                            <div>Commentaire  : {{ comment.comment }} </div>
                            <div>Note {{ comment.rate }}/10 </div>
                            <div>Par {{ comment.author.username }} </div>
                        </div>
                    {% if app.user %}
                        <a href="{{ path('comment_edit', {'id': comment.id}) }}">
                        Editer le commentaire
                        </a>
                    {% endif %}

                     {% else %} 
                        <div>
                            Pas de commentaires
                        </div>
                     {% endfor %} 
 
<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>


{% endblock %}
   

